*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;	
}

#caja{
	width: 200px;
	height: 100px;
	background: blue;
	cursor: pointer;
}

.cajas{
	position: relative;
	width: 100px;
	height: 100px;
	background: green;
	margin: 20px;
	cursor: pointer;
}

input{
	padding: 10px;
}

button{
	padding: 10px;
	margin: 20px;
}

#caja2{
	position: relative;
	width: 30px;
	height: 30px;
	background: yellow;
	margin: 20px;
	cursor: pointer;
}

.parrafo{

	color: white;
	background: green;
	padding: 20px;
	font-size: 24px;
	text-align: center;
}

#contenedor{
	margin: 20px;
}
